<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="background-color: blue;"> Pogoda dla <%= cityName %></h1>
    <h3 style="color: red;">Opis</h3>
    <p> <%= desc%></p>
    <p>Temperatura to <%=temp%></p>
    <img src="<%= ikonaUrl %>" width="300" height="300"/>
    
</body>
</html>